<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>myproject</title>
    <style>
      .selector-for-some-widget {
        box-sizing: content-box;
      }
    </style>
  </head>

  <body>
    <noscript>
      <strong
        >We're sorry but myproject doesn't work properly without JavaScript
        enabled. Please enable it to continue.</strong
      >
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
