<template>
  <div>
    <label>
      <h1>
        ตารางชั่วโมงการอบรมของนิสิต
      </h1>
    </label>

    <b-table
      no-border-collapse
      head-variant="light"
      hover
      :items="Hours"
      :fields="fields"
    >
    </b-table>
    <br />
    <div>
      <router-link to="/">
      <b-button variant="secondary" style="margin-right:10px;"
        >ย้อนกลับ</b-button></router-link>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      Hours: [
        {
          type: 'เตรียมความพร้อม',
          mustCollected: '30 ชั่วโมง',
          hoursCollected: '18 ชั่วโมง'
        },
        {
          type: 'วิชาการ',
          mustCollected: '12 ชั่วโมง',
          hoursCollected: '7 ชั่วโมง'
        }
      ],
      lasttype: 2,
      fields: [
        { key: 'type', label: 'ประเภท' },
        { key: 'mustCollected', label: 'จำนวนชั่วโมงที่ต้องเก็บ' },
        { key: 'hoursCollected', label: 'จำนวนชั่วโมงที่เก็บแล้ว' }
      ]
    }
  }
}
</script>
