<template>
  <div>
    <label>
      <h1>
        ตารางเกรดรายวิชาทั้ง 10 วิชา
      </h1>
    </label>

    <b-table
      no-border-collapse
      head-variant="light"
      hover
      :items="grades"
      :fields="fields"
    >
    </b-table>
    <br />
    <div>
      <router-link to="/">
      <b-button variant="secondary" style="margin-right:10px;"
        >ย้อนกลับ</b-button></router-link>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      grades: [
        {
          courseCode: '8810059',
          courseName: 'การคิดและการแก้ปัญหาเชิงตรรกะเพื่อการสร้างนวัตกรรม',
          grade: 'A'
        },
        {
          courseCode: '88510259',
          courseName: 'โครงสร้างดิาครีต',
          grade: 'A'
        },
        {
          courseCode: '88510459',
          courseName: 'หลักการโปรแกรม',
          grade: 'A'
        },
        {
          courseCode: '88620159',
          courseName: 'หลักการโปรแกรมเชิงวัตถุ',
          grade: 'A'
        },
        {
          courseCode: '88620259',
          courseName: 'ฐานข้อมูลเชิงสัมพันธ์',
          grade: 'A'
        },
        {
          courseCode: '88620359',
          courseName: 'ฐานข้อมูลไม่สัมพันธ์',
          grade: 'A'
        },
        {
          courseCode: '88620459',
          courseName: 'วิทยาศาสตร์ข้อมูลเบื้องต้นและการวิเคราะห์ข้อมูล',
          grade: 'A'
        },
        {
          courseCode: '88621159',
          courseName: 'โครงสร้างข้อมูลและอัลกอริทึม',
          grade: 'A'
        },
        {
          courseCode: '88631159',
          courseName: 'การออกแบบขั้นตอนวิธีและการประยุกต์',
          grade: 'A'
        },
        {
          courseCode: '88634159',
          courseName: 'การพัฒนาซอฟแวร์',
          grade: 'A'
        }
      ],
      lastcourseCode: 11,
      fields: [
        { key: 'courseCode', label: 'รหัสรายวิชา' },
        { key: 'courseName', label: 'ชื่อวิชา' },
        { key: 'grade', label: 'เกรด' }
      ]
    }
  }
}
</script>
