<template>
  <div>
    <label>
      <h1>
        ตารางชั่วโมงการอบรมของนิสิต
      </h1>
    </label>

    <b-table
      no-border-collapse
      head-variant="light"
      hover
      :items="userLists"
      :fields="fields"
    >
    </b-table>
    <div>
      <h4>เกรดเฉลี่ยนิสิต: 4.00</h4>
    </div>
    <br />
    <div>
      <router-link to="/checkgrade">
      <b-button variant="primary" style="margin-right:10px;"
        >แสดงเกรดรายวิชา</b-button
      ></router-link>&nbsp;
      <router-link to="/checkhour">
      <b-button variant="secondary">แสดงชั่วโมงอบรม</b-button></router-link>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      userLists: [
        {
          list: 'เกรด 10 รายวิชา',
          status: 'ผ่าน'
        },
        {
          list: 'ชั่วโมงอบรมสหกิจ',
          status: 'ผ่าน'
        },
        {
          list: 'สถานะสิทธิ์การเข้าร่วมสหกิจ',
          status: 'ผ่าน'
        }
      ],
      lastlist: 4,
      fields: [
        { key: 'list', label: 'รายการ' },
        { key: 'status', label: 'สถานะการผ่านเงื่อนไข' }
      ]
    }
  }
}
</script>
