<template>
  <div>
    <b-nav vertical>
      <b-button-group vertical>
        <b-button variant="light"
          ><router-link to="/">หน้าหลัก</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">ออกจากระบบ</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">จัดการบัญชีผู็ใช้</router-link></b-button
        >
        <b-button variant="light" enable
          ><router-link to="/">ตรวจสอบสิทธิ์เข้าสหกิจ</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">บริษัทที่มารับสหกิจ</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">รายการอบรม</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">เกี่ยวกับสหกิจศึกษา</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">ลงสมัครสหกิจศึกษา</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">สถานะสหกิจศึกษา</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">แบบฟอร์มเอกสาร</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">ส่งรายงานความคืบหน้า</router-link></b-button
        >
        <b-button variant="light"
          ><router-link to="">ติดต่อ</router-link></b-button
        >
      </b-button-group>
    </b-nav>
  </div>
</template>
